.hh {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 30px;
}

.count {
  text-align: center;
  padding-top: 20px;
}

.salary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding: 20px;
}

.salary > div {
  border-right: 1px solid var(--gray-light);
}
.salary > div:last-child {
  border-right: none;
}

.title {
}
