html,
body {
  padding: 0;
  margin: 0;
  color: var(--black);
  background-color: #f5f6f8;
  font-family: var(--font-family);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #3b434e;
  --white: white;
  --gray-light: #ebebeb;
  --primary: #7653fc;
  --primary-hover: #6344df;
  --red: crimson;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --font-family: 'Noto Sans KR', sans-serif;
}
